/* CollectionsPage.css */
.collections-background{
    
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Vertically center the content */
  
    height: 100vh;
   
    width: 100vw;
    background-repeat: no-repeat;
      background-size: cover;
      background-position:top;
  background-image:url('../images/CollectionsPage.png')
}
.collections-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin-top: 0px;
    position:fixed;
 
  }
  
  .collections-buttons {
    display: flex;
    gap: 20px;
    cursor: pointer;
   
  }
  
  .collection-button {
    padding: 10px 20px;
    background-color: #ac6353;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
    font-size: medium;
  }
  
  .collection-button:hover {
    background-color: gray;
  }
  
  .collection-button.selected {
    background-color: #861e06;
    cursor: default;
    background-color: #d4674f;
    border:#d4674f;
  }
  
  .books-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }
  .book-category {
    margin-top: 40px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
  }
  